{% extends 'base.html' %}
    
{% block titulo %}
Tareas
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Tareas</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Responsable</th>
              <th>Descripción</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
      </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <!-- La clase modal-dialog-centered centra el modal -->
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdTarea">
              <label for="txtResponsable">Responsable:</label>
              <input type="text" class="form-control" placeholder="Ingrese el responsable" id="txtResponsable">
              <label for="txtDescripcion">Descripción:</label>
              <input type="text" class="form-control" placeholder="Ingrese la descripción" id="txtDescripcion">
              <label for="txtEstado">Estado:</label>
              <input type="text" class="form-control" placeholder="Ingrese el estado" id="txtEstado">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/tareas',
      columns: [
        { data: 'responsable' },
        { data: 'descripcion' },
        { data: 'estado' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-primary" data-id="${row.id}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id}">Eliminar</button>`
          }
        }
      ]
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      // Setear un título a modal
      $('#modalTitle').text("Agregar una Tarea");
      // inicia ventana modal
      $('#txtIdTarea').val("");
      $('#txtResponsable').val("");
      $('#txtDescripcion').val("");
      $('#txtEstado').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idTarea = $('#txtIdTarea').val();
      const nuevoResponsable = $('#txtResponsable').val();
      const nuevaDescripcion = $('#txtDescripcion').val();
      const nuevoEstado = $('#txtEstado').val();
      const tabla = $('#tbl').DataTable();

      if(idTarea) {
        // update
        fetch(`/api/v1/tareas/${idTarea}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          }, 
          body: JSON.stringify({ responsable: nuevoResponsable, descripcion: nuevaDescripcion, estado: nuevoEstado })
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "La tarea ha sido actualizada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar la tarea.", "error");
        });
      } else {
        // insert
        fetch(`/api/v1/tareas`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }, 
          body: JSON.stringify({ responsable: nuevoResponsable, descripcion: nuevaDescripcion, estado: nuevoEstado })
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Registrado", "La tarea ha sido agregada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar la tarea.", "error");
        });
      }
      $('#txtResponsable').val("");
      $('#txtDescripcion').val("");
      $('#txtEstado').val("");
      $('#modalFormulario').modal("hide");
    });
  }

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]',function(){
      // Mostrar mensaje de confirmación usando sweetalert
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar una Tarea");

          const idTarea = $(this).data('id');
          $('#txtIdTarea').val(idTarea);

          // Obtener los datos de la tarea del backend
          fetch(`/api/v1/tareas/${idTarea}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtResponsable').val(data.data.responsable);
            $('#txtDescripcion').val(data.data.descripcion);
            $('#txtEstado').val(data.data.estado);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]',function(){
      const idTarea = $(this).data('id');
      // Mostrar mensaje de confirmación usando sweetalert
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/tareas/${idTarea}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              // Borrar la fila del datatable
              const fila =$(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", data.success);
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar la tarea.", "error");
          });
        }
      });

    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
  }

  $(function() {
    initDatatable();
    addEvents();
  });
</script>
{% endblock %}
